.calculator-bg {
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #636963;
}
.interest-type {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.interest-buttons {
  margin-left: 20px;
  min-width: 150px;
  padding: 10px;
  border-radius: 8px;
  font-weight: 800;
  font-family: "Roboto";
  background-color: transparent;
  border: outset;
  outline: none;
  cursor: pointer;
  color: #03ff28;
  font-size: 20px;
}
.active-button {
  color: red;
  background-color: #fcbc5b;
  border: 2px solid red;
  margin-left: 20px;
  min-width: 150px;
  padding: 10px;
  border-radius: 8px;
  font-weight: 800;
  font-family: "Roboto";
  border: outset;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}
.calculate-button {
  border: 2px solid blue;
  color: blue;
  border-radius: 5px;
  padding: 5px;
  font-weight: 800;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 5px;
  font-family: "monospace";
}
.simple-interest-container {
  padding: 20px;
  background-color: #21b7fc;
  border-radius: 10px;
  padding-top: 0px;
  margin-top: 20px;
  /* min-width: 280px; */
  border: outset;
  width: 50%;
}
.input-div {
  display: flex;
  flex-direction: column;
}
.input-field {
  padding: 5px;
  outline: none;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: outset;
}
.interest-month {
  font-size: 25px;
  font-weight: 500;
  color: #8803fc;
}
.interest-total {
  font-size: 25px;
  font-weight: 500;
  color: white;
}
.interest-amt {
  font-size: 25px;
  font-weight: 500;
  color: red;
}
.bank-rate {
  margin-bottom: 0px;
}
.context {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* compound css */
@media screen and (max-width: 576px) {
  .simple-interest-container {
    width: 80%;
  }
  .interest-buttons {
    padding: 5px;
    font-size: 15px;
  }
  .active-button {
    font-size: 15px;
    padding: 5px;
  }
}
@media (min-width: 576px) {
  .simple-interest-container {
    padding: 30px;
  }
}
